<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Node js </title>
	<link rel="stylesheet" type="text/css" href="/assets/styles.css">
</head>
<body>
	<% include partials/nav %>
	<h1>Contact Page</h1>
	<p>Awesom node js prrogramming</p>
</body>
</html>