<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Node js </title>
	<link rel="stylesheet" type="text/css" href="/assets/styles.css">
</head>
<body>
	<h2>Hello <%= data.who %> </h2>	
	<p>You are successfully contactes with <%= data.department %> department</p>
	<p>We will contact you with this <%= data.email %> address . Thankyou!</p>
</body>
</html>