<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Node js </title>
	<link rel="stylesheet" type="text/css" href="/assets/styles.css">
</head>
<body>
	<% include partials/nav %>
	<h1>Welcome <%= person %></h1>
	<p><%= data.age %></p>
	<p><%= data.job %></p>
	<h2>Hobbies</h2>
	<ul>
		<% data.hobbies.forEach((hobbie) => { %>
			<li><%= hobbie %></li>
		<% }) %>
	</ul>
</body>
</html>